services:
  - type: web
    name: airport-backend
    env: python
    autoDeploy: true
    buildCommand: |
      pip install -r requirements.txt
      python manage.py migrate
      python manage.py collectstatic --noinput
    startCommand: bash -c "python manage.py seed && uvicorn aviation.asgi:application --host 0.0.0.0 --port $PORT"
    envVars:
      - key: SECRET_KEY
        value: django-insecure-73e9o-^0hU5$Szo*1mj^pr5&$!s-ypf0d1&*!'ac-2mle00z_&(
      - key: DEBUG
        value: True
      - key: DJANGO_ALLOWED_HOSTS
        value: airport-backend-ug6q.onrender.com
      - key: CSRF_TRUSTED_ORIGINS
        value: https://airport-backend-ug6q.onrender.com
      - key: POSTGRES_DB
        value: airportdb_bplb
      - key: POSTGRES_USER
        value: airportuser
      - key: POSTGRES_PASSWORD
        value: zBV0NzzRMSv8xQJsaKq3ZOj11T8T9Vd4
      - key: POSTGRES_HOST
        value: dpg-d5dqi6s6uk2gs7395kbfg-a
      - key: POSTGRES_PORT
        value: 5432
      - key: GEMINI_API_KEY
        value: AIZaSyDM-ae61MRfd0VYDlnbg-ptIs1jZBqxLO4
      - key: GEMINI_API_URL
        value: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent
      - key: STRIPE_SECRET_KEY
        value: sk_test_xxx
      - key: STRIPE_PUBLISHABLE_KEY
        value: pk_test_xxx
      - key: STRIPE_WEBHOOK_SECRET
        value: whsec_xxx
      - key: STRIPE_SUCCESS_URL
        value: https://airport-backend-ug6q.onrender.com/payments/success
      - key: STRIPE_CANCEL_URL
        value: https://airport-backend-ug6q.onrender.com/payments/cancel
      - key: REDIS_URL
        fromService:
          name: airport-redis
          type: redis
  - type: redis
    name: airport-redis
    ipAllowList: []