services:
  - type: web
    name: airport-backend
    env: python
    autoDeploy: true
    buildCommand: |
      pip install -r requirements.txt
      python manage.py migrate
      python manage.py collectstatic --noinput
    startCommand: |
      python manage.py seed
      uvicorn aviation.asgi:application --host 0.0.0.0 --port $PORT
    envVars:
      - key: SECRET_KEY
        sync: false
      - key: DEBUG
        value: False
      - key: DJANGO_ALLOWED_HOSTS
        value: airport-backend-ug6q.onrender.com
      - key: GEMINI_API_URL
        value: https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent
      - key: CSRF_TRUSTED_ORIGINS
        value: https://airport-backend-ug6q.onrender.com
      - key: POSTGRES_DB
        value: airportdb_bplb
      - key: POSTGRES_USER
        value: airportuser
      - key: POSTGRES_PASSWORD
        value: zBV0NzzRMSv8xQJsaKq3ZOj11T8T9Vd4
      - key: POSTGRES_HOST
        value: dpg-d5dqi6s6uk2gs7395kbfg-a
      - key: POSTGRES_PORT
        value: 5432
      - key: GEMINI_API_KEY
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_PUBLISHABLE_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
      - key: STRIPE_SUCCESS_URL
        sync: false
      - key: STRIPE_CANCEL_URL
        sync: false